#pragma code_page(65001)
#include <afxres.h>
#include "resources.h"

100 ICON DISCARDABLE "xsystem35.ico"

////////////////////////////////////////////////////////////////////////
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

IDR_MENU1 MENU DISCARDABLE
{
    POPUP "File"
    {
        MENUITEM "Save Screenshot",             ID_SCREENSHOT
        MENUITEM "Exit",                        ID_EXIT
    }
    POPUP "Screen"
    {
        MENUITEM "Window",                      ID_SCREEN_WINDOW
        MENUITEM "Fullscreen",                  ID_SCREEN_FULL
    }
    MENUITEM "MsgSkip[off]",                    ID_MSGSKIP
}

STRINGTABLE
{
	IDS_CHOOSE_GAME_FOLDER "Choose a game folder:"
}

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 122, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text input"
FONT 9, "MS Shell Dlg"
{
    EDITTEXT        IDC_EDITBOX,7,15,112,12
    LTEXT           "Enter a string (up to 8 letters)",IDC_TEXT,7,3,112,8
    DEFPUSHBUTTON   "OK",IDOK,35,36,50,14
}

////////////////////////////////////////////////////////////////////////
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDR_MENU1 MENU DISCARDABLE
{
    POPUP "ファイル"
    {
        MENUITEM "画面保存",                      ID_SCREENSHOT
        MENUITEM "閉じる",                        ID_EXIT
    }
    POPUP "画面"
    {
        MENUITEM "ウィンドウ",                    ID_SCREEN_WINDOW
        MENUITEM "フルスクリーン",                ID_SCREEN_FULL
    }
    MENUITEM "文字送り[off]",                     ID_MSGSKIP
}

STRINGTABLE
{
	IDS_CHOOSE_GAME_FOLDER "ゲームフォルダを選んでください:"
}

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 122, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字列の入力"
FONT 9, "ＭＳ Ｐゴシック"
{
    EDITTEXT        IDC_EDITBOX,7,15,112,12
    LTEXT           "文字を入力してください（最大8文字)",IDC_TEXT,7,3,112,8
    DEFPUSHBUTTON   "OK",IDOK,35,36,50,14
}
