#----------------------------------------------------------
# XSyetem35 Configuration File
#
# XSystem35 reads configuration from ~/.xsys35rc and .xsys35rc in the current
# directory. The latter takes precedence over the former, so you should put
# general settings in ~/.xsys35rc and game-specific settings in .xsys35rc
# in the game directory.
#
# Lines starting with '#' are comments.

# ------------------------------------------------------------
# Fonts
#

# Gothic (sans-serif) and Mincho (serif) fonts. .ttf and .otf files are
# supported.

#ttfont_gothic: /usr/local/share/xsystem35/fonts/MTLc3m.ttf
#ttfont_mincho: /usr/local/share/xsystem35/fonts/mincho.otf

# Some fonts have multiple "faces" included. This specifies which face to use
# from the font file.

#ttfont_mincho_face: 0
#ttfont_gothic_face: 0

# Disable font antialiasing.

#antialias: No

# ------------------------------------------------------------
# Display
#

# Enforce integer scaling.

#integerscale: Yes

# Disable custom mouse cursor defined in resource files.

#no_imagecursor: Yes

# ------------------------------------------------------------
# Audio
#

# Path to the CD playlist. The playlist is a text file with one filename per
# line, in the order of CD tracks.

#playlist: playlist.txt

# Audio buffer size in bytes.
# Too small value causes sound glitches, too large value causes sound delay.

#audio_buffer_size: 2048

# MIDI Output method
# 'e'  : SDL_mixer (default)
# 'pX' : via PortMidi (X is the device number, usually 0)
# '0'  : disable MIDI

#midi_output_device: e

# ------------------------------------------------------------
# Input
#

# joystick device number (0-)

#joy_device: 0

# -----------------------------------------------------------
# Miscellaneous
#

# Directory to save game state files.
# If it begins with '~', it is expanded to the user's home directory ($HOME).

#savedir: ~/.xsystem35-saves

# The format when writing save files.
#  xsystem35 : default
#  system36  : compatible with System3.5 v2 - System3.6
#  system39  : compatible with System3.8 - System3.9

#saveformat: xsystem35

# Enables game-specific hacks. Usually auto-detected, but must be
# specified for games with modified / translated titles.
#
# Possible values are: toushin2, rance3_eng, rance4_eng, rance4_v2.

#game: rance4_v2

# Enables the ZB command (change the font weight). It is disabled by default
# because it makes the text too bold with our default fonts.
# This option is experimental and may be removed in the future. See
# https://github.com/kichikuou/xsystem35-sdl2/issues/44 for details.

#enable_zb: Yes
