body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #444;
  color: #ccc;
}

@media all and (max-height: 480px) {
  #toolbar-handler {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 10px;
    background-color: #444;
  }

  .toolbar-handler-icon {
    width: 5px;
    height: 5px;
    margin-left: 21px;
    border: solid #ccc;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  header.closeable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.4s ease;
  }

  header.closeable.closed {
    top: -42px;
  }
}

@media not all and (max-height: 480px) {
  #toolbar-handler {
    display: none;
  }

  #toolbar-close-button {
    display: none;
  }
}

.navbar {
    max-width: 640px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.navbar-brand {
    color: #ccc;
}

#zoom {
    min-width: 0;
    background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ccc' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center / .8rem 1rem;
    color: #ccc;
    border-color: #bbb;
}

#zoom:focus {
  border-color: #eee;
}

.navbar .btn-link {
    font-size: large;
    color: #ccc;
}

.navbar .btn.btn-link:focus,
.navbar .btn.btn-link:hover,
.navbar .btn.btn-link:active,
.navbar .btn.btn-link.active {
  color: #eee;
}

.contents {
  flex: 1;
  display: flex;
}

#loader {
    max-width: 640px;
    margin: 2ex auto 0;
}

#loader ul {
    list-style-type: none;
}
#loader li {
    color: #5764c6;
}
#loader li:before {
  font-family: FontAwesome;
  content: "\f15b";
  padding-right: 0.5em;
}
#loader li.notready {
    color: #808080;
}
#loader li.notready:after {
    content: " (未選択)";
}

.bgblack-fade {
    background-color: black;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#xsystem35 {
  margin: auto;
}

#xsystem35.fit {
  margin: 0;
  flex: 1;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
	border: 0px none;
}

@media all and (min-aspect-ratio: 640/400) {
  .fit canvas.emscripten {
    height: 100%;
    max-height: 100vh;
    margin: auto;
    display: block;
  }
}
@media not all and (min-aspect-ratio: 640/400) {
  #xsystem35.fit {
    display: flex;
    align-items: center;
  }
  .fit canvas.emscripten {
    width: 100%;
  }
}

.pixelated {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

#volume-control {
    float: right;
}

#volume-control-icon {
    font-size: 20px;
    width: 26px;
    padding: 5px;
    vertical-align: middle;
}

#volume-control-slider {
    width: 60px;
    height: 30px;
    vertical-align: middle;
}

.settings section {
	margin-bottom: 2rem;
}

.settings section > div {
	padding-left: 2rem;
}

.toast-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    padding: 30px;
    z-index: 500;
}

.toast {
    -webkit-animation: slide-down .2s ease 1;
    animation: slide-down .2s ease 1;
    margin: 5px;
}
