#----------------------------------------------------------
# XSyetem35 設定ファイル
#
#   行頭が '#' で始まる行はコメント行です

# ------------------------------------------------------------
# 使用するフォントの指定
#

#ttfont_mincho: /usr/local/share/xsystem35/fonts/mincho.otf
#ttfont_gothic: /usr/local/share/xsystem35/fonts/MTLc3m.ttf

# True Type フォントのフェイス指定
#ttfont_mincho_face: 0
#ttfont_gothic_face: 0

# ------------------------------------------------------------
# フォントのアンチエイリアスを無効にする
#antialias: No

# ----------------------------------------------------------

# ------------------------------------------------------------
# CD-ROM のデバイス名
#

#cdrom_device: /dev/cdrom

# ------------------------------------------------------------

# ------------------------------------------------------------
# raw midi device または sequencer device のデバイス名
#

#midi_device: /dev/midi
##midi_device: /dev/sequencer

# ------------------------------------------------------------

# ------------------------------------------------------------
# オーディオバッファのバイト数
# 小さすぎると音が途切れ、大きくすると効果音が遅れるようになります。

#audio_buffer_size: 2048

# ------------------------------------------------------------

# ------------------------------------------------------------
# MIDI出力のデフォルト出力方法
# 'e'  : 外部プレーヤー
# 'r'  : raw midi device
# 'sX' : sequencer device (Xはポート番号、通常は0)
# '0'  : (ゼロ) MIDI無効化
#

#midi_output_device: e

# ------------------------------------------------------------

# ------------------------------------------------------------
# joystick device のデバイス番号 (0-)
#

#joy_device: 0

# ------------------------------------------------------------

# -----------------------------------------------------------
# リソースファイルによるマウスカーソルの形状変更を無効にする
# にする場合、以下を Yes にする (なにも指定しない場合は有効)
# 

#no_imagecursor: Yes

# -----------------------------------------------------------
