#----------------------------------------------------------
# XSyetem35 設定ファイル
#
#   行頭が '#' で始まる行はコメント行です

# ---------------------------------------------------------
# 使用するフォントデバイスの選択
#   (x11,gtk,ttfが使用可能です)
# font_device: ttf

# ---------------------------------------------------------
# 使用するフォントの指定
# フォントサイズの場所を %d にするのを忘れないで下さい。
#

font_mincho: -*-mincho-medium-r-normal--%d-0-0-0-c-0-jisx0208.1983-0,-*-mincho-medium-r-normal--%d-0-0-0-c-0-jisx0201.1976-0

font_gothic: -*-*-medium-r-normal--%d-*-*-*-c-*-jisx0208.1983-0,-*-*-medium-r-normal--%d-*-*-*-c-*-jisx0201.1976-0

# ------------------------------------------------------------

# ----------------------------------------------------------
# 使用するフォントの指定 for  FreeType
#

#ttfont_mincho: /usr/share/fonts/TrueType/mincho.ttc
#ttfont_gothic: /usr/share/fonts/TrueType/gothic.ttc

# True Type フォントのエンコード方式を指定 
# Shift JIS0213 の場合以下のように指定
#ttfont_mincho_code: jisx0213
#ttfont_gothic_code: jisx0213

# True Type フォントのフェイス指定
#ttfont_mincho_face: 0
#ttfont_gothic_face: 0

# ------------------------------------------------------------

# ------------------------------------------------------------
# CD-ROM のデバイス名
#

#cdrom_device: /dev/cdrom

# ------------------------------------------------------------

# ------------------------------------------------------------
# audio device のデバイス名
#

#dsp_device: /dev/dsp

# ------------------------------------------------------------

# ------------------------------------------------------------
# mixer device のデバイス名
#

#mixer_device: /dev/mixer

# ------------------------------------------------------------

# ------------------------------------------------------------
# raw midi device または sequencer device のデバイス名
#

#midi_device: /dev/midi
##midi_device: /dev/sequencer

# ------------------------------------------------------------

# ------------------------------------------------------------
# オーディオ出力のデフォルトデバイス名
# 'o' : OSS
# 's' : ALSA
# 'e' : ESD
# '0' : (ゼロ) オーディオ無効化

#audio_output_device: o

# ------------------------------------------------------------

# ------------------------------------------------------------
# MIDI出力のデフォルト出力方法
# 'e'  : 外部プレーヤー
# 'r'  : raw midi device
# 'sX' : sequencer device (Xはポート番号、通常は0)
# '0'  : (ゼロ) MIDI無効化
#

#midi_output_device: e

# ------------------------------------------------------------

# ------------------------------------------------------------
# joystick device のデバイス名
#

#joy_device: /dev/js0

# ------------------------------------------------------------

# ------------------------------------------------------------
# 外部 MIDI プレーヤーの設定
# プレーヤーとオプションを書きます。予めプレーヤーへPATHを通しておきます。
# (none)を指定するとMIDI使用を不可にします。

#midi_player: playmidi -4
#midi_player: timidity -A 100 -s 44100 -Oe
#midi_player: none

# -----------------------------------------------------------

# ------------------------------------------------------------
# 読み込むべき gtkrc ファイルへのホームディレクトリからの相対パス
# 指定しなければ、$(HOME)/.gtk/gtkrc が読み込まれます。
#   「gtkrc_path: .gtkrc_xsys35」
# とした場合には、$(HOME)/.gtkrc_xsys35 が読み込まれます。

#gtkrc_path: .gtkrc

# ------------------------------------------------------------

# -----------------------------------------------------------
# X の SharedMemoryExtension を使わない設定
# Xdec(DigitalUNIX), Xpmac(LinuxPPC)で必要

#no_shm: Yes

# ------------------------------------------------------------

# -----------------------------------------------------------
# system35のシナリオが新規にセーブファイルを作る時
# (*.gr ファイルの支配下にないファイル)
# 漢字コードを EUC/SJIS のどちらで書くか
# 0 : EUC (default)
# 1 : SJIS 

#qe_kanjicode: 0

# ------------------------------------------------------------

# -----------------------------------------------------------
# リソースファイルによるマウスカーソルの形状変更を無効にする
# にする場合、以下を Yes にする (なにも指定しない場合は有効)
# 

#no_imagecursor: Yes

# -----------------------------------------------------------
