name: Linux Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: ["Debug", "Release"]

    name: Linux ${{ matrix.build-type }}
    steps:
    - uses: actions/checkout@v2

    - name: Install Deps
      run: |
        sudo apt update
        sudo apt install libgtk-3-dev libsdl2-dev libsdl2-ttf-dev libsdl2-mixer-dev libportmidi-dev libcjson-dev

    - name: Build
      run: |
        mkdir -p out/${{ matrix.build-type }}
        cd out/${{ matrix.build-type }}
        cmake -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} ../../
        make

    - name: Test
      run: ctest --output-on-failure
      working-directory: out/${{ matrix.build-type }}
